.wraper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("BackBike.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;

  .category-text {
    position: relative;
    top: 210px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
  }

  .category-text-Bl {
    position: relative;
    top: 62%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
}


.blob-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  top: 445px;
  a {
    text-decoration: none !important;
  }
}

.blob {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(231, 165, 0);
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: black !important;
}


.blob:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(231, 165, 0);
  color: rgb(231, 165, 0);
  transition: 0.5s;
}

.Spantext {
  color: rgb(231, 165, 0);
}
