  <div class="container empty-cart">
    <div class="notice-text">
      <p>Oops...Your cart is currently empty.</p>
      <p>We are sure you will find something nice in our shop! 😉</p>
    </div>
    <%= link_to root_path do %>
    <div class="redirect-btn">
      <button type="submit" class= "Bike-button btn1">Browse Bike Categories</button>
    </div>
    <% end %>
  </div>
