.container--grid{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 4rem;
}

.bike-card{
  width: 400px;
  height: 300px;

}
a {
  text-decoration: none !important;
  color: white;
}
