<div class="wraper">
  <p class="category-text">Discover our beloved bikes bellow!</p>
  <div class="blob-grid">
    <% @categories.each do |category| %>
    <%= link_to bikes_path do %>
      <div class="blob">
        <%= category.name %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
